@import "../../styles//colors.scss";

#cardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  margin: 10px 0;
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  border-radius: 8px;

  .cardAlign {
    background-color: $card-background;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 2px 3px $intense-gray;
  }

  .icon {
    display: inline-block;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
  }

  h3 {
    color: $blue-ocean;
  }

  p {
    color: $intense-gray;
    font-size: 0.8rem;
  }

  h3,
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media (max-width: 600px) {
  #cardContainer {
    width: 100%;
    height: 150px;

    h3,
    p {
      word-wrap: break-all;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      text-overflow: inherit;
    }
  }
}
