@import "../../styles//colors.scss";

#cardContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  margin: 10px 0;
  max-width: 500px;
  overflow: hidden;
  position: relative;

  &:hover {
    transform: scale(1.1);
    transition: 200ms linear;
  }

  .titleAlign {
    padding: 10px;
  }
  .cardAlign {
    background-color: $card-background;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 1px 2px $intense-gray;
    text-overflow: ellipsis;
    overflow: overlay;
  }

  .icon {
    display: inline-block;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 0;
  }

  h3 {
    color: $blue-ocean;
  }

  span {
    color: $intense-gray;
    font-size: 0.8rem;
    word-break: break-all;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: overlay;
  }

  h3,
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 600px) {
  #cardContainer {
    width: 100%;
    height: 150px;
    .cardAlign {
      box-shadow: 0 1px 2px 1px $intense-gray;
    }

    span {
      overflow: auto;
    }

    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
